<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/dashboard/show">Mechanical</a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Orçamentos", "/orcamentos"  %></li>
        <li><%= link_to "Fornecedores", "/fornecedors"  %></li>
        <li><%= link_to "Serviços", "/servicos"  %></li>
        <li><%= link_to "Estoque", "/estoques"  %></li>
        <li><%= link_to "Veiculos", "/veiculos"  %></li>
        <li><%= link_to "Sair", "/login"  %></li>
      </ul>
    </div>
  </div>
</div>